<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="../../../layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" href="../../../layuiadmin/style/common.css">
    <script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入vue -->
    <script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            角色名称</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="sysRole.roleName" class="layui-input" placeholder="角色名称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            备注</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="sysRole.remark" class="layui-input" placeholder="备注" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            创建者ID</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="sysRole.createUserId" class="layui-input" placeholder="创建者ID" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            创建时间</label>
                        <div class="layui-input-inline">
                            <input type="text" v-model="sysRole.createTime" class="layui-input" placeholder="创建时间" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="btn-box">
            button class="layui-btn" @click="submitData()">确定</button>
        </div>
    </div>
    <script src="../../js/sysrole/sysroleEdit.js"></script>
</body>

</html>