<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>编辑</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="stylesheet" type="text/css" href="../../../layuiadmin/layui/css/layui.css" />
    <link rel="stylesheet" href="../../../layuiadmin/style/common.css">
    <script src="../../../layuiadmin/layui/layui.js" type="text/javascript" charset="utf-8"></script>
    <!-- 引入vue -->
    <script src="../../../layuiadmin/plugin/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../layuiadmin/plugin/axios.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../../layuiadmin/js/baseUrlConfig.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .btn-box {
            text-align: center;
        }

        .btn-box button {
            /* margin-right: 30px; */
            margin-bottom: 10px;
        }

        .layui-form-label {
            width: 120px;

        }

        .layui-form-item .layui-input-inline {
            width: 300px;
            margin-right: 4px;
        }
    </style>
</head>

<body>
    <div id="vm">
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form" lay-filter="editGrade">
                    <input type="hidden" name="sysno">
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            年级名称</label>
                        <div class="layui-input-inline">
                            <input type="text" name="enumname" class="layui-input" placeholder="名称" />
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="bitian" class="layui-form-label">
                            备注</label>
                        <div class="layui-input-inline">
                            <input type="text" name="memo" class="layui-input" placeholder="备注" />
                        </div>
                    </div>
                    <div class="btn-box">
                        <button class="layui-btn" lay-submit lay-filter="editFormDemo">确定</button>
                        <button class="layui-btn layui-btn-danger" @click="cancel">取消</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script>
        /*
*   @Author: liangbiaobiao
*   @email: pokerface0206@163.com
*/
        layui.use(['form', 'jquery'], function () {
            var form = layui.form,
                $ = layui.jquery
            // 单个信息数据展示
            axios({
                method: "get",
                url: BASEURL + "kindergarten/gradeenum/info/" + parent.id,
            })
                .then(res => {
                    if (res.data.code == 0) {
                        var list = res.data.gradeenum;
                        form.val('editGrade', {
                            "sysno": list.sysno,
                            "enumname": list.enumname,
                            "memo": list.memo// "name": "value"
                        });
                    } else {

                    }
                })
                .catch(error => {

                });
            // form表单的提交
            form.on('submit(editFormDemo)', function (data) {
                axios({
                    method: "post",
                    url: BASEURL + 'kindergarten/gradeenum/update',
                    data: data.field,
                    headers: {
                        "Content-Type": "application/json;charset=UTF-8"
                    }
                }).then(function (res) {
                    if (res.data.code == 0) {
                        // // console.log(res)
                        layer.msg('编辑成功！', {
                            time: 500
                        }, function () {
                            window.parent.location.reload();
                            parent.layer.close('iframe');
                        }
                        );
                    } else {
                        layer.msg(res.data.msg, {
                            time: 1000
                        }, function () {
                            window.parent.location.reload();
                            parent.layer.close('iframe');
                        });
                    }
                }).catch(function (err) {
                    // // console.log(err);
                });
                return false;
            })

        })
        var vm = new Vue({
            el: "#vm",
            data: {
                gradeenum: {}
            },
            methods: {
                cancel: function () {
                    parent.layer.closeAll('iframe'); //关闭弹窗
                }
            },
            mounted() {

            }
        });
    </script>
</body>

</html>