<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>园所信息</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
</head>

<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">文章ID</label>
						<div class="layui-input-inline">
							<input type="text" name="id" placeholder="请输入" autocomplete="off" class="layui-input">
						</div>
					</div>
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-list" lay-submit lay-filter="LAY-app-contlist-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>

			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layuiadmin-btn-list" data-type="add">添加</button>
					<button class="layui-btn layuiadmin-btn-list" data-type="edit">编辑</button>
					<button class="layui-btn layuiadmin-btn-list" data-type="batchdel">删除</button>
				</div>
				<table id="LAY-app-content-list" lay-filter="LAY-app-content-list"></table>
			</div>
		</div>
	</div>

	<script src="../../../layuiadmin/layui/layui.js"></script>
	<script src="../../../layuiadmin/plugin/vue.js"></script>
	<script src="../../../layuiadmin/plugin/axios.js"></script>
	<script>
		layui.config({
			base: '../../../layuiadmin/' //静态资源所在路径
		}).extend({
			index: 'lib/index' //主入口模块
		}).use(['index', 'table'], function () {
			var table = layui.table,
				form = layui.form;

			table.render({
				elem: '#LAY-app-content-list'
				, height: 555 //容器高度
				, url: layui.setter.BASEURL + '/kindergarten/kindergarteninfo/list' //数据接口
				, page: true
				, parseData: function (res) { // 数据重新处理为layUI的数据格式
					var msg = {
						"code": res.code, //解析接口状态
						"msg": res.msg, //解析提示文本
						"count": res.page.totalCount, //解析数据长度
						"data": res.page.list //解析数据列表
					};
					return msg;
				}
				, cols: [[
					{ checkbox: true },
					{ title: '主键', field: 'sysno', minWidth: 100 },
					{ title: '名称', field: 'name', minWidth: 100 },
					{ title: '简称', field: 'displayname', minWidth: 100 },
					{ title: '幼儿园类型 0 私营 1 公办', field: 'type', minWidth: 100 },
					{ title: '联系人', field: 'contactname', minWidth: 100 },
					{ title: '手机号', field: 'mobilephone', minWidth: 100 },
					{ title: '固话号码', field: 'telephone', minWidth: 100 },
					{ title: '地址', field: 'address', minWidth: 100 },
					{ title: '门头照', field: 'picture', minWidth: 100 },
					{ title: '备注', field: 'memo', minWidth: 100 },
					{ title: '开园日期', field: 'createdate', minWidth: 100 },
					{ title: '状态 0 关闭 1 开放', field: 'workstatus', minWidth: 100 },
					{ title: '园所介绍图片', field: 'description', minWidth: 100 },
					{ title: '园所证件', field: 'certification', minWidth: 100 }]] //设置表头
				, limit: 10
				, limits: [10, 15, 20, 25, 30]
			});


			//监听搜索
			form.on('submit(LAY-app-contlist-search)', function (data) {
				var field = data.field;

				//执行重载
				table.reload('LAY-app-content-list', {
					where: field
				});
			});

			var $ = layui.$,
				active = {
					batchdel: function () {
						var checkStatus = table.checkStatus('LAY-app-content-list'),
							checkData = checkStatus.data; //得到选中的数据

						if (checkData.length === 0) {
							return layer.msg('请选择数据');
						}

						layer.confirm('确定删除吗？', function (index) {

							//执行 Ajax 后重载
							/*
							admin.req({
							  url: 'xxx'
							  //,……
							});
							*/
							table.reload('LAY-app-content-list');
							layer.msg('已删除');
						});
					},
					add: function () {
						layer.open({
							type: 2,
							title: '添加文章',
							content: 'listform.html',
							maxmin: true,
							area: ['550px', '550px'],
							btn: ['确定', '取消'],
							yes: function (index, layero) {
								//点击确认触发 iframe 内容中的按钮提交
								var submit = layero.find('iframe').contents().find("#layuiadmin-app-form-submit");
								submit.click();
							}
						});
					},
					edit: function () {

					}
				};

			$('.layui-btn.layuiadmin-btn-list').on('click', function () {
				var type = $(this).data('type');
				active[type] ? active[type].call(this) : '';
			});

		});
	</script>
</body>

</html>