<!DOCTYPE html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>新增</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <link rel="stylesheet" href="../../css/font.css">
    <link rel="stylesheet" href="../../css/xadmin.css">
    <script type="text/javascript" src="../../libs/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../libs/xadmin/xadmin.js"></script>
    <!-- 引入vue -->
    <script type="text/javascript" src="../../libs/vue/vue.js"></script>
    <script src="../../libs/vue/axios.js"></script>
    <script src="../../js/common.js"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    
    <![endif]-->
    <style>
        .btn-box{
            text-align: right;
        }
        .btn-box button{
            margin-right: 30px;
            margin-bottom: 30px;
        }
    </style>
</head>
<body>
<div id="vm">
    <div class="layui-fluid">
        <div class="layui-row">
            <form class="layui-form">
            		    		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       用户名</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.username" class="layui-input" placeholder="用户名"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       用户操作</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.operation" class="layui-input" placeholder="用户操作"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       请求方法</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.method" class="layui-input" placeholder="请求方法"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       请求参数</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.params" class="layui-input" placeholder="请求参数"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       执行时长(毫秒)</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.time" class="layui-input" placeholder="执行时长(毫秒)"/>
                    </div>
                </div>
            		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       IP地址</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.ip" class="layui-input" placeholder="IP地址"/>
                    </div>
                </div>
            		    		    		    		                    <div class="layui-form-item">
                    <label for="bitian" class="layui-form-label">
                       幼儿园编码</label>
                    <div class="layui-input-inline">
                        <input type="text" v-model="sysLog.kindergartensysno" class="layui-input" placeholder="幼儿园编码"/>
                    </div>
                </div>
            		                </form>
        </div>
    </div>
    <div class="btn-box">
        <button class="layui-btn" @click="addData()">增加</button>
    </div>
</div>
<script src="../../js/syslog/syslogAdd.js"></script>
</body>
</html>